* {
  margin: 0;
  padding: 0;
  font-family: "Monstserrat-Bold", sans-serif;
}
@font-face {
  font-family: "Monstserrat-Bold";
  src: url("../font/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Autobus";
  src: url("../font/aAutobusOmnibus.woff") format("woff");
}
/* ----------------------------------- MAP -------------------------------------- */
/*------------------------------------- HOME ------------------------------------*/
/* HEADER */
/* Navegador */
.brand-title {
  font-family: "Autobus";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 20vh 0 5rem;
}
.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 96px;
  border-radius: 0px;
}
.navbar-nav {
  margin: 0 20vh 0 0;
}
.navbar .active {
  color: #46a9ca !important;
  font-weight: bold;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.navbar .navbar-collapse {
  flex-grow: unset;
}
.navbar .navbar-collapse .navbar-nav a {
  margin: 0.5rem 2rem;
  transition: all 0s;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #1A242E;
}
.navbar .navbar-collapse .navbar-nav a:hover {
  background-image: linear-gradient(#9cd6c0, #00db87);
  border-radius: 50px;
}
#buscador {
  margin: auto;
  background-color: #d9d9d9;
  border-radius: 72px;
  border: 0;
}
input:focus {
  color:black;
  background-color:#d9d9d9;
  outline: none;
}
.botonBuscador {
  margin: 0 1rem 0 0;
  border-radius: 72px;
  border: 0;
  background: #d9d9d9;
  width: 19px;
}
.contenedorBuscador {
  display: flex;
  height: 34px;
  margin: 0.5rem auto;
  padding-left: 1rem;
  background-color: #d9d9d9;
  border-radius: 72px;
}


/* MAIN */


/* grid nuestros productos */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 20px;
}
.span-row-2 {
  grid-row: span 2 / auto;
}

/*Seccion Presentacion */
.container-presentation {
  background-image: url("../img/imagenes-background/header-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
}
.container-presentation .presentation {
  display: flex;
  width: 100%;
}
.container-presentation .presentation h2 {
  color: #10023a;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 99px;
  letter-spacing: 0em;
  text-align: left;
}

/* seccion INTRODUCCION */
.section-introdution {
  position: relative;
  bottom: 10rem;
  margin-top: 10vh;
}
.section-introdution .card {
  border: 1px solid black;
  min-height: 15rem;
}
.section-introdution .card .m-height {
  min-height: 8rem;
}

/*Seccion Desarrollo - Implementacion - Soporte */
/* En Esta seccion esta todo hecho via Bootstrap */
/* Salvo la clase CARD y la clase CENTER que son genericas*/
.section-faster-and-secure h2 {
  font-size: 4.5rem;
  margin-bottom: 3rem;
}
.section-faster-and-secure p {
  line-height: 3rem;
  font-size: 2rem;
}

/*Seccion Nuestros productos */

.products {
  /* background-image: url("../img/imagenes-background/bg-cards.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 200px 10%;
  padding-top: 100px;
  margin-top: 6rem;
  /*----------- primera columna */
}
.products h2 {
  padding: 1.5rem;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.products .container-products {
  margin: 1rem 0.5rem 0.5rem 2rem;
}
.products .container-products .card-product {
  height: 50%;
}
.products .container-products .card-product .main-content {
  min-height: 230px;
  background: #fff;
  margin: 0.5rem;
}
.products .container-products .card-product .main-content h4 {
  margin: 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.products .container-products .card-product .main-content p {
  font-size: 1.5rem;
  margin: 0.8rem;
  padding-left: 0.8rem;
}
.products .container-products .card-product .main-content .container-btn {
  display: flex;
  justify-content: end;
}
.products .container-products .card-product .main-content .container-btn .btn {
  border: 1px solid black;
  margin: 0.25rem;
}
.products
  .container-products
  .card-product
  .main-content
  .container-btn
  .btn:hover {
  border: none;
}

/*--------------- Segunda Columna */
.sidebar-content {
  display: flex;
  min-height: 150px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 10px;
}
.sidebar-content .content-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.sidebar-content .content-card h4 {
  margin: 1rem;
}
.sidebar-content .content-card p {
  margin: 1rem;
}
.sidebar-content .content-card .container-btn {
  margin: 1rem auto;
}
.sidebar-content .content-card .container-btn .btn {
  border: 1px solid black;
  margin: 0.5rem;
}
.sidebar-content .content-card .container-btn .btn:hover {
  border: none;
}

/* Seccion NOSOTROS */
#nosotros {
  /* 
  .btn-nav {

  } */
}
#nosotros .parrafos {
  position: relative;
  right: 5rem;
}
#nosotros .parrafos li {
  list-style: none;
  margin: 1rem;
  padding: 1rem;
}
#nosotros .content {
  min-height: 45rem;
  background: #dbdfe5;
}
#nosotros .content .m-height-2 {
  min-width: 30rem;
  min-height: 50rem;
}

/*------------------------------------- PRODUCTOS ---------------------------*/
/* Ihos */
.hospitalizacion {
  background-image: url("../img/imagenes-background/Rectangle-LightBlue.png");
  height: 466px;
  width: 100%;
}
.hospitalizacion h3 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
}
.hospitalizacion p {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
}

/* ------------------------------ @Medias Query ----------------------------------*/
/* EL BOTON SE REPITE EN VARIAS PARTES PERO CON DISTINTOS COLORES Y ALGUNOS ACTIVADOS Y OTROS NO
LO DEJO ACA PARA MAS ADELANTE ACOMODARLO BIEN */
.btn {
  color: blanchedalmond;
  /* sss */
  background: #1e43e1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25),
    inset 15px 21px 40px rgba(9, 189, 228, 0.8), inset 10px 9px 12px #0595f0;
  border: 0;
  /* ssss */
  margin-left: auto;
  margin-right: auto;

  /*     border: 1px solid black; */
  height: 68px;
  width: 287px;
  left: 112px;
  top: 693px;
  border-radius: 150px;
  padding: 19px, 60px, 19px, 60px;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.btn:hover {
  /* hacer un gardient con colores de map get */
  background-image: linear-gradient(#9cd6c0, #00db87);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.295);
}

/* Clases genericas */
.card {
  border: 1px solid black;
}
.card .btn {
  margin: 1rem auto;
}

.center {
  margin: 1rem auto;
}

.col-sm-6 {
  width: auto;
}
.sombraCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 0px;
}

/* MediaQuery */
/* .col-6 {
    width: 50%;
} */

/*# sourceMappingURL=style.css.map */

/* TITULOS */
.titulo {
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
}
.sub-titulo {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
  line-height: 62, 73px;
}
.sub-tituloLighter {
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Montserrat;
  line-height: 55px;
}

/* CONTACTO */
#contacto {
  height: 100vh;
  width: 800px;
  padding-top: 10vh;
}
input#nombre,
#institucion,
#email,
#tel,
#mensaje {
  border-radius: 8px;
}
#mensaje {
  height: 262px;
  width: 656px;
  left: 317px;
  border-radius: 13px;
}
#label {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 9px;
}
.form-title {
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 100px;
}
.camposObligatorios {
  height: 27.11572265625px;
  width: 324px;
  left: 317px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  font-family: Montserrat;
}
::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

/* SOBRE NOS */

.sobreNos {
  padding: 1rem 4rem;

  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
}
.sobreNos-sub {
  padding: 0 4rem;

  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
}
